<meta charset="utf-8" />
<title>$util.getOption("site.title", "")</title>

<link href='$request.contextPath/static/bootstrap/2.0.3/css/bootstrap.css' rel='stylesheet' type='text/css' />
<link href='$request.contextPath/static/bootstrap/2.0.3/css/bootstrap-responsive.css' rel='stylesheet' type='text/css' />
<link href='$request.contextPath/static/main.css' rel='stylesheet' type='text/css' />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.0.3/bootstrap.min.js"></script>
<script src="$request.contextPath/static/main.js"></script>
